html,body {
	font-family: Lato, Helvetica, Arial, Tahoma, sans-serif;
	height: 100%;
	width: 100%;
}


/* Sticky footer content. Include a div inside body with class wrapper div. Given the class of footer.  */

.wrapperdiv {
	margin : auto;
	position : relative;
	min-height : 100%;
}


.footer {
	position: absolute;
	bottom : 0px;
	background: #54555B;
	background: rgba(84, 85, 91, 1);
	height: 34px;
	width: 100%;
}


.create-account-header {
	background-color: #0a425b;
	font-family: Lato;
	font-size: 36px;
	font-weight: 300;
	color: #FFFFFF;
	color: rgb(255, 255, 255);
	width : 524px;
}





.pacific-background-gradient {
	background: -moz-linear-gradient(50% 0% -90deg, rgba(174, 218, 233, 1)
		0%, rgba(146, 205, 225, 1) 8.27%, rgba(109, 188, 216, 1) 21.13%,
		rgba(78, 174, 207, 1) 34.6%, rgba(54, 163, 201, 1) 48.65%,
		rgba(37, 155, 197, 1) 63.52%, rgba(27, 150, 194, 1) 79.77%,
		rgba(24, 149, 193, 1) 100%);
	background: -webkit-linear-gradient(-90deg, rgba(174, 218, 233, 1) 0%,
		rgba(146, 205, 225, 1) 8.27%, rgba(109, 188, 216, 1) 21.13%,
		rgba(78, 174, 207, 1) 34.6%, rgba(54, 163, 201, 1) 48.65%,
		rgba(37, 155, 197, 1) 63.52%, rgba(27, 150, 194, 1) 79.77%,
		rgba(24, 149, 193, 1) 100%);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgba(174, 218,
		233, 1)), color-stop(0.0827, rgba(146, 205, 225, 1)),
		color-stop(0.2113, rgba(109, 188, 216, 1)),
		color-stop(0.346, rgba(78, 174, 207, 1)),
		color-stop(0.4865, rgba(54, 163, 201, 1)),
		color-stop(0.6352, rgba(37, 155, 197, 1)),
		color-stop(0.7977, rgba(27, 150, 194, 1)),
		color-stop(1, rgba(24, 149, 193, 1)));
	background: -ms-linear-gradient(-90deg, rgba(174, 218, 233, 1) 0%,
		rgba(146, 205, 225, 1) 8.27%, rgba(109, 188, 216, 1) 21.13%,
		rgba(78, 174, 207, 1) 34.6%, rgba(54, 163, 201, 1) 48.65%,
		rgba(37, 155, 197, 1) 63.52%, rgba(27, 150, 194, 1) 79.77%,
		rgba(24, 149, 193, 1) 100%);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#AEDAE9', endColorstr='#1895C1' ,GradientType=0)";
	background: linear-gradient(180deg, rgba(174, 218, 233, 1) 0%,
		rgba(146, 205, 225, 1) 8.27%, rgba(109, 188, 216, 1) 21.13%,
		rgba(78, 174, 207, 1) 34.6%, rgba(54, 163, 201, 1) 48.65%,
		rgba(37, 155, 197, 1) 63.52%, rgba(27, 150, 194, 1) 79.77%,
		rgba(24, 149, 193, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AEDAE9',
		endColorstr='#1895C1', GradientType=0);
}

.stickyFooter {
	position: absolute;
	bottom: 0px;
	width: 100%
}

.welcome-message {
	font-family: Lato;
	font-size: 28px;
	font-weight: 400;
	color: #FFFFFF;
	color: rgba(255, 255, 255, 1);
}

.card-label {
	font-family: Lato;
	font-size: 15px;
	font-weight: 400;
	color: #333333;
	color: rgb(51, 51, 51);
}

.actions-bar {
	background: #FF4E00;
	background: rgba(255, 78, 0, 1);
	height: 40px;
}

/* We Should not do this. We should write a class and then apply it to the body. Because always body is not of the same colour */
.body {
	background: #EFEFEB;
	background: rgba(239, 239, 235, 1);
}

.timestamp {
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
	color: #333333;
	color: rgb(51, 51, 51);
}

.welcome-banner {
	margin-top: 30px;
	margin-bottom: 15px;
	background: #F1C40E;
	background: rgba(241, 196, 14, 1);
	height: 60px;
	line-height: 60px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15); 
	lter: progid:DXImageTransform.Microsoft.dropshadow(OX=0, OY=0, Color='#000000');
}

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

.wrapper { 
	ex: 1 auto;
	margin: 15px;
	min-width: 280px;
	max-width: 370px;
	height: 300px;
}

.card {
	text-align: center;
	position: relative;
	background: #FFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .15);
}

.card .cardLogo {
	margin: 10px auto;
}

.card .meter {
	margin: auto 5px;
}

.card .actions-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
}